<div id="adobe-dc-view" style="width: 100%;"></div>
<script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
<script type="text/javascript">
	document.addEventListener("adobe_dc_view_sdk.ready", function(){ 
		var adobeDCView = new AdobeDC.View({clientId: "57c0b8f7c32e43d8991a53ecab2dfee0", divId: "adobe-dc-view"});
		adobeDCView.previewFile({
			content:{location: {url: "https://alcard24.gitlab.io/votation-halcon/Regalamento_Dale_espacio_al_color.pdf"}},
			metaData:{fileName: "Regalamento_Dale_espacio_al_color.pdf"}
		}, {embedMode: "IN_LINE"});
	});
</script>
